#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.start {
  border: 1px solid #3b3b3b;
  padding: 40px;
  border-radius: 10px;

  .error {
    font-size: 14px;
    color: #ff474c;
    height: 24px;
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;

    input { 
      font-size: 16px;
      height: 40px;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }
}

button {
  width: 150px;
}

.secondary-btn {
  background-color: #3b3b3b;
  color: white;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
