#root {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.start {
  border-radius: 10px;
  height: 410px;

  .error {
    font-size: 14px;
    color: #ff474c;
    height: 24px;
    margin: 0;
  }

  form {
    height: auto;

    input { 
      font-size: 16px;
      height: 40px;
      box-sizing: border-box;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
  }

  h1 {
    span {
      font-size: 12px;
      vertical-align: middle;
      border-top: 1px solid antiquewhite;
      border-bottom: 1px solid antiquewhite;
      padding: 3px 0;
      text-transform: uppercase;
    }
  }
}

button {
  min-height: 60px;
  width: 100%;
}

.secondary-btn {
  background-color: #3b3b3b;
  color: white;

  &:disabled {
    cursor: not-allowed;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

  button:first-of-type {
    margin-bottom: 10px;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (min-width: 768px) {
  #root {
    padding: 60px;
    max-width: 1280px;
  }

  .start {
    padding: 40px;
  }

  button {
    width: 150px;
    min-height: 40px;
  }

  .actions {
    flex-direction: row;

    button:first-of-type {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }
}