.game {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.response-form {
  form {
    display: flex;
    flex-direction: column;

    input {
      height: 40px;

      &.round-end {
        cursor: not-allowed;
      }
    }
  }
}

.responses-container {
  margin-bottom: 50px;
}

.response-container {
  margin-bottom: 20px;

  .response {
    width: 100%;

    &.voted {
      background: dodgerblue;
      color:#242424
    }

    &.correct {
      background: mediumseagreen;
      color: #242424;
    }

    &.own {
      background: antiquewhite;
      color: #242424;
      margin-bottom: 40px;

      &:hover {
        cursor: initial;
      }
    }
  }
}

.player-response-container {
  background-color: antiquewhite;
  border-radius: 10px;
  color: #242424;
  padding: 20px;

  .actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-top: 10px;
      width: 100%;
      background: #242424;
      color: antiquewhite;
    }
  }
}

.round-results {
  .response {
    background: antiquewhite;
    color: #242424;
    border-top: 1px solid #ccc;;
    border-bottom: none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: auto;

    &.correct {
      background: mediumseagreen;
    }
  }

  .results {
    border-top: none;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;

    > .details {
      display: flex;
      justify-content: space-between;

      .author {
        text-transform: uppercase;
      }

      > div:nth-of-type(2) {
        text-align: right;
        width: 50%;

        > span:last-of-type {
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }

    .points {
      display: flex;
      font-weight: bold;
      font-size: 24px;
      color: antiquewhite;
      justify-content: flex-start;

      &.correct {
        color: mediumseagreen;
        justify-content: flex-end;
      }
    }
  }
}

.next-round {
  display: flex;

  button {
    padding: 20px;
    width: 100%;
  }

  &:first-of-type {
    margin-bottom: 20px;
  }

  &:last-of-type {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .response p {
    text-align: center;
  }
}
