.game {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
}

.underline {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.italic {
  font-style: italic;
}

.response-form {
  p {
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      height: 20px;
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.responses-container {
  margin-bottom: 50px;

  p {
    text-align: left;
  }
}

.response-container {
  margin-bottom: 10px;

  .response {
    width: 100%;
  }
}